<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FiguresToJumps</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKyQ3OEJFOUNF
	Ri00MkE0LTQ2MkYtQkY4My0xQkQ4NzZGRDk5QjWGkoSEhA9OU011dGFibGVTdHJpbmcB
	l5gkMzFCMUIxOUUtNkJEMS00RjA2LTg5QjEtNzhEMkY5Q0RDRDgxhpKEl5gkOUU4RTZF
	REYtMzBBMS00RUFCLUEzRDEtODA2Q0YwMkM4QzY5hpKEmZgkN0Y4RDY4NDAtQ0M5Ny00
	QTk3LTk3RkUtNjM1NTkyOUNEQTREhpKEl5gkODFERkMxMUEtNDgwQy00QzU0LThFNDct
	RUUzNjhFRTE3RTkyhpKEmZgkRkQ2MUQyN0QtNEJBMC00NTNGLUE0QzgtREZGOTE0NjIz
	QzZGhoY=
	</data>
	<key>FormatVersion</key>
	<integer>4</integer>
	<key>JumpsToTargets</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpQpKEhIQITlNTdHJpbmcBlYQBKyREMjM4RDg3
	Mi0yNDBFLTQxNEUtQjk3Ny02N0FCNUZCNDlGMDWGkoSEhBBDQ0Jhc2VKdW1wVGFyZ2V0
	AISEEkdHQXR0cmlidXRlZE9iamVjdACVkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBV
	VUlEhpKEhIQPTlNNdXRhYmxlU3RyaW5nAZeYJDJGODM4QkQ0LTk2MEUtNEM2Ni1CNzc3
	LUYxOTc4MjI0MzA4NYaGhpKEl5gkQTg3OTBDQzYtRjRBQi00NEQ0LTlCREEtOTg5Mzg1
	OENFMEY5hpKEmZKEk5YBkoSXmBRJZGVhc3BhY2UgQXNzZXQgVVVJRIaShJ6YJDE4ODVE
	QUFELTBCQUYtNEM2RC1BMkQyLUFFRDYwQzQzRTM4N4aGhpKEl5gkNEYxMEFGNzUtQkYx
	Ny00QjExLTlFN0MtN0VDODAwMkE1M0VBhpKEmZKEk5YBkoSXmBRJZGVhc3BhY2UgQXNz
	ZXQgVVVJRIaShJ6YJEUxNUJDQzYwLTQ4MEItNDI2Ni05NTRBLUJFQUY5MTBBM0NEQoaG
	hpKEl5gkNURFN0QwM0QtNkNBRC00REFFLUEwM0UtQjg3QjMwQjg5NDIyhpKEmZKEk5YB
	koSXmBRJZGVhc3BhY2UgQXNzZXQgVVVJRIaShJ6YJEJFMUJFNDRDLTg0MjMtNDcyMy1C
	OTlGLUU1QjZGODI4RUZENoaGhpKEl5gkRkQ2MUQyN0QtNEJBMC00NTNGLUE0QzgtREZG
	OTE0NjIzQzZGhpKEmZKEk5YCkoSXmBRJZGVhc3BhY2UgQXNzZXQgVVVJRIaShJ6YJDg5
	RDRBMjdGLTQwQjMtNDc2RS05RDRFLTQ2MUZGQ0EzODU1MYaShJeYC0ZpZ3VyZSBVVUlE
	hpKEnpgkODFERkMxMUEtNDgwQy00QzU0LThFNDctRUUzNjhFRTE3RTkyhoaGkoSXmCRB
	QjBFMzQ5Mi1CRUNCLTRGNEEtQTdBMi1CRDAzNjkxOTVDNjmGkoSZkoSTlgGShJeYFElk
	ZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkMDIzN0YwMzItRjMyMC00RTkxLTk3NjYtOTRC
	RDIyNzYxRUM1hoaGkoSXmCQ1NTRFQUVGRi00MzQ3LTQ4OUMtOTBGOS04M0ZCNUNGRkNF
	RjGGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkMDhDREFDMzMt
	MkZCNi00RUYzLThFN0YtQTRBMzE2RTkxODUwhoaGkoSXmCQzMzM5OTAzRi00RUU4LTQ1
	OUQtODI0MS1ENkI5NDc1REYyRjmGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBV
	VUlEhpKEnpgkNjJBMzZEOTQtMjM3RC00RTdGLTgzQUUtQkVCRTdFQzQ0QzMwhoaGkoSX
	mCQ3OTg2M0ZGMC02Mjg2LTQ3RjQtQTJEQi0wMEU1MzBCMDYyNDSGkoSZkoSTlgGShJeY
	FElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNDgxQjdCNjYtMEU1OS00OTYwLUFFNkUt
	REQyMUIyRUU2OTIzhoaGkoSXmCQ3REQ1NDdGMS1EMjU2LTQ4NEEtQkJFNS1BQjRDRUMw
	NTMwMEKGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkMjI1RkVE
	ODktM0YwNi00NjU3LTg1MzMtMzczMTJGODQwMTIzhoaGkoSXmCQ5MDFEMUU3RC01NkVD
	LTQyRDYtOTVCOC1FNUQ4MjlENjlFRjGGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3Nl
	dCBVVUlEhpKEnpgkNTE4OEM2MkYtOERDRC00QUE3LUI5QkItOTY2QjUxNzZGOTJChoaG
	koSXmCQyNEI4NTkzNS02NkY4LTQwMEUtOUVGMC03REQ1Q0I4QTQ2MUWGkoSZkoSTlgGS
	hJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkQzY1MkZFMDAtRERERS00RDE3LTky
	REUtMDQ0RTIyRTQ4M0U3hoaGkoSXmCQwOUM1RTIzMi0zRjAxLTQ3ODYtQjAzOS03ODI4
	RDc2Q0I4QzeGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkOEY0
	Q0Q5OTktM0E1QS00NjgwLTlBMzktRjZCRkQ1RkY4MUJEhoaGkoSXmCQwQjExQ0JEOC05
	MkMwLTQ0MkMtODQ2Qi0wMDExMDk2QUQxN0SGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBB
	c3NldCBVVUlEhpKEnpgkMzBDRDI5NzQtRjdBNi00MTU4LUE5MUItMTE3NDBBQUU3MUQ4
	hoaGkoSXmCQwNkY1QjI3Mi0wRUMzLTRFQTItOENBQS1FQjBGODg0MEQyRTCGkoSZkoST
	lgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNkNEMjUwNjgtNDk4Mi00QTU1
	LUJDRDEtMEQ4QTJGRTRBMzYwhoaGkoSXmCRBQjIyRTA4Qi1GNUNBLTQ2NkEtQjg2Qi1G
	OEZBNDExRkEyQjmGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgk
	M0ZGQTIwQUQtMkJCQi00NUNFLTgxREUtNERERjcxNEZCMjE0hoaGkoSXmCQ2RDkxNzZC
	Qi02NDlBLTQ2QUEtOTNFOS04MEREODBGNzRCRjSGkoSZkoSTlgGShJeYFElkZWFzcGFj
	ZSBBc3NldCBVVUlEhpKEnpgkMDIzN0YwMzItRjMyMC00RTkxLTk3NjYtOTRCRDIyNzYx
	RUM1hoaGkoSXmCQ3QjAyOTYyNC00MTc5LTQyMkEtQTAyNS0xRDk0NzM4QzgxRTWGkoSZ
	koSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkREQ5QkU2QUYtNDZCNS00
	QzdFLThCNkItNTNBOThBNEM4QzAzhoaGkoSXmCRERTk1NjM5NC1EOEYzLTQ2NkQtQjgz
	Ny1CMUU4MUY0MEY3NjeGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKE
	npgkMTk5OTc1NkMtNEFBRC00ODFFLUJDMEYtODY5MUY2MkZGNTFChoaGkoSXmCQzMjhB
	RDM4Mi05MkYwLTQxODItQjZENy04QTY2NzBCMTlEOTeGkoSZkoSTlgGShJeYFElkZWFz
	cGFjZSBBc3NldCBVVUlEhpKEnpgkQjM5MTBBMDAtNjg4Ri00RTZGLUI1RkQtOUQ3NTNF
	Q0JEQ0Y4hoaGkoSXmCQzMzQ2NTBDOC0wMUNCLTRBNTctOEI0RC04OUNGMTlEOEU3QjWG
	koSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkRENDNjBBNEUtNzlB
	OS00RUUyLTk2Q0UtQTE4MjU2MkEwMTQ2hoaGkoSXmCRCMDNDMzgyQS1BNTYzLTQ3QUEt
	OEUzRC0zN0Y1QkUyMzQwNzGGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlE
	hpKEnpgkODg3NkVBQTAtRUM5RC00NEZBLTg2MkMtRUQ1NkM0ODAwMDFChoaGkoSXmCRF
	NjkyOEExNi1CQTlELTRDM0MtQjIwRS0wRDkzNkEwMDVEMUOGkoSZkoSTlgGShJeYFElk
	ZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNDQ1MUY1RUEtMzNCRS00NDBDLTkwNzAtNTM0
	QzlBMkRCNDM0hoaGkoSXmCRCQzZDQ0QxMC0yQjI3LTQ4RUItODMzNy0wRjAwQUUwOEYx
	RDaGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkMERGMTI2ODMt
	Q0UyQy00RDRELUIxMjAtQTEwMkI1MjEwODY3hoaGkoSXmCRDRTE2MkQ5Ri1GNjU0LTQ2
	OUQtQjYxNS03OUVERDkwNjNDNjCGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBV
	VUlEhpKEnpgkM0I4QzdENEMtQTMxOS00NEJFLTg3RDMtQURFOUJGQjNGNzVDhoaGkoSX
	mCQyQzJDQUVEMS0zMDE1LTQ4REMtQjlDMi05RDBFQjg2QTYwQjKGkoSZkoSTlgGShJeY
	FElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNDA5QjVERTEtNThDNi00RjQ2LUIwQkMt
	QjZFMkMwMjkzMkNGhoaGkoSXmCQ4QzUxOTEyMy0zNkZCLTRGMUItQjY1OC0wNTcyRDE3
	RkZFNDKGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNzM3ODlB
	ODUtOURDNS00MjkwLThDMDAtNERDQTkxN0FCNzVEhoaGkoSXmCQzMUIxQjE5RS02QkQx
	LTRGMDYtODlCMS03OEQyRjlDRENEODGGkoSZkoSTlgKShJeYFElkZWFzcGFjZSBBc3Nl
	dCBVVUlEhpKEnpgkQkM0Q0IzQzQtOENCMi00OUUwLTk4MjAtQTdDOUMzNDQyN0U5hpKE
	l5gLRmlndXJlIFVVSUSGkoSemCQ3OEJFOUNFRi00MkE0LTQ2MkYtQkY4My0xQkQ4NzZG
	RDk5QjWGhoaShJeYJDJFQTA2NzY1LUVFQ0YtNEUyOS04QjI4LTA3Q0IxMTkwMzQxOIaS
	hJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRDMDNDMzhBMC04Q0Q5
	LTQ0NTUtOUIxRC02MTVBOTg1MEU1NDSGhoaShJeYJEVDOEZGQjAxLUExMzAtNDMxNi04
	RUQyLUJDM0FGOTc4MzJFRoaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSG
	koSemCQ1MkU0QTI4RS1CRjUxLTQxOEUtQUU0NS05MDM1MURGRDFBQ0WGhoaShJeYJEU4
	MDNDODI0LTJCNEEtNEZGNy05RjJCLTc3RDREMkZGQkMyRIaShJmShJOWAZKEl5gUSWRl
	YXNwYWNlIEFzc2V0IFVVSUSGkoSemCQ1NEY1RUY3Qi1DOUMzLTQxRUYtQjg5Ri02Qjcw
	Rjg0QjkwMUWGhoaShJeYJEU0MjYzRUU2LUMwMTctNDk4Ri05QUM0LTQ3NEI2MUQ0RUNB
	OYaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQ4ODlBQzI3OC1F
	NzIwLTQyRTQtQUU4RC02REM4RTMyREEwQjaGhoaShJeYJEZGRTFDMkIwLUQwMjAtNEI3
	NS1CMTExLTRFMUFDNEYxOEE4MIaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVV
	SUSGkoSemCQ3M0Y0MzI5RS0yQjhDLTQ5RTEtQkQ5Ni1CNTBBRTQyMDc2MUaGhoaShJeY
	JDNFRTk0REMyLURGOUUtNEZDRi04QTZELTk0MTcxMDZCNDcxQ4aShJmShJOWAZKEl5gU
	SWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRFNjg2MzQwNC1BMTlGLTRCNzYtQjgyNS1E
	QUNBNEE1MjhFQjCGhoaShJeYJEQxNkVBQkJBLTU4OEUtNEVCMi1CNUZDLTMxMjE3RTdD
	NDREN4aShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQzOUExNUY3
	RS04MDRFLTQ5ODctQTc3QS1DMkFDMThEREE1NDiGhoaShJeYJDdDQTYyQTBGLTU2QTIt
	NDVDMC1CNDZCLUJCMERDRjNCRUU1Q4aShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0
	IFVVSUSGkoSemCRGODU0OEE2NS05NkIwLTRGQ0QtQjE1MC0wMzI0MTJDRjUzREaGhoaS
	hJeYJDMwN0Q0OTdGLTk1RTEtNDA0Ny1CQ0E4LUUwNDVBODUyMzJCRYaShJmShJOWAZKE
	l5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQwMzUxQzMzRi1EMDI2LTQxNUEtODEz
	Qi0zNUNGREZBMzQ0QUWGhoaShJeYJENEQzFENkI4LTU3NzUtNDU4Qi1CRDExLTFDNjBB
	NkFFNzdFOIaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQ4OEI5
	ODUyRS1DMEVGLTQzMTctOEM4My0yMDFBRDhGMDBDRkKGhoaShJeYJDBBNUMxOTc0LUJD
	N0QtNEEyMS04MzFCLTdEQ0FDRUIwMzg3NIaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFz
	c2V0IFVVSUSGkoSemCREQ0M2MEE0RS03OUE5LTRFRTItOTZDRS1BMTgyNTYyQTAxNDaG
	hoaShJeYJDNFODdGODRDLTNDM0UtNEEwMC1CMDcwLTRDMUJDMjhEODZCOYaShJmShJOW
	AZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQwOTU4QTQwQi03QzQxLTQ1N0Mt
	ODVFQS01OTA0NDRERjg0RESGhoaShJeYJEU1MjVCMjM2LTNGOTctNDdFRS04NEVGLTE4
	RTZBM0VCRkQyN4aShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRD
	OTRDQkE1My0xRDQ4LTRCRDktQUEyNy0yOTVBM0E2RThGRDOGhoaShJeYJEVCNDlDRjY2
	LTQ3ODEtNDZDRC05ODgxLThCNzUwMEU3QTc2QoaShJmShJOWAZKEl5gUSWRlYXNwYWNl
	IEFzc2V0IFVVSUSGkoSemCQyQkNGRTU4Qi1BM0RDLTRBNzQtODA1Ri1GOTEzNDAzNkNE
	NjOGhoaShJeYJDc5RTI4RjI0LTM0QjYtNEU1RC04NkIzLThBNjlBODRGNEREQYaShJmS
	hJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQ4ODc2RUFBMC1FQzlELTQ0
	RkEtODYyQy1FRDU2QzQ4MDAwMUKGhoaShJeYJEEwNUJBRjgzLUU3MTYtNEFCMy04QUFC
	LTE5NEY2Njk2OTNGMYaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSe
	mCQ5REU5MDI0OS1FOTQ1LTQ5OTktOUM4OC1FNzMzOEEyMjU2ODWGhoaShJeYJEEyRDky
	MDEwLTFFOTktNDhGQi05MTcxLTE2QTU0RUM0NUMzMIaShJmShJOWAZKEl5gUSWRlYXNw
	YWNlIEFzc2V0IFVVSUSGkoSemCQ3RjQzODdBNi0wRDY1LTQ3QkItOEIxOS1BMzU3QTE4
	QkNBNDGGhoaShJeYJEY2MTMwODU2LThBQUEtNEUyRi04REJBLUFFRjA0OUMzNDZEMoaS
	hJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRENjQxQjg2Ri01QjM5
	LTQ0MjQtQjQ5Qy1CRTUxOUVBMzgxOTCGhoaShJeYJEM0OEE5OTY3LThBNzctNDkwQy04
	ODMyLTI3RkU1RDNBMjAzRoaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSG
	koSemCREQTk2NkYxNC1CMkNBLTRDMzEtQTJFNy01QTZGN0RENkRCNkWGhoaShJeYJDEy
	RjNCQkNBLTdEMDctNDI2NC04RTRGLTgzRDUwNkUzRjJFRoaShJmShJOWAZKEl5gUSWRl
	YXNwYWNlIEFzc2V0IFVVSUSGkoSemCRDOUMyN0U0Ny1EQkE1LTQ0NTEtOTlGMi04NUJB
	MzI0QTczMzeGhoaShJeYJDc0RjMwNkIyLUY1NTEtNDNEQi1BN0IxLTQxM0YyQTA2NDE1
	QoaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQwMjM3RjAzMi1G
	MzIwLTRFOTEtOTc2Ni05NEJEMjI3NjFFQzWGhoaShJeYJDA5RjNBNjhGLTQ2MjMtNDYx
	RC1CMzgwLTBCMjEyMUE0MjU3RoaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVV
	SUSGkoSemCRCMjBEMTlEQS1GOUQxLTRFODQtOUNFQi1DNjFCNzgxQzkwNkWGhoaShJeY
	JEU0RjI2MjQ4LTA3OUQtNDUzNC1CRTRFLTkzQzFCNTk4QkQ3NIaShJmShJOWAZKEl5gU
	SWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRGMTBBRjQ2NC01NkVDLTQ3NEEtOUUwMy0w
	RUMyMDRBQTY4RDCGhoaShJeYJDZBMkRCQ0ZBLUE2MjQtNEJCRS1BNzJDLTA3MzQ0MDky
	MTRCNYaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCRCNkFDNjMz
	Mi0zQzlDLTQ3OTctQjBGMi1DQTBGOTlGMzIyMTOGhoaShJeYJDA0MkREODgwLTMyMjEt
	NDUzNC1CNEIyLTUyNUY2ODQzMzMyN4aShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0
	IFVVSUSGkoSemCRDNjUyRkUwMC1ERERFLTREMTctOTJERS0wNDRFMjJFNDgzRTeGhoaS
	hJeYJERDQzAxMDdBLUEyQ0EtNDEwMC1CODRBLTM0MDkzOTFBNDk1MoaShJmShJOWAZKE
	l5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQ0NTkxQTU3Ny1CQ0NBLTQzRjAtQThD
	Qi03MjQ2RkEyQzM5NEOGhoaShJeYJDA0MkI3RURFLUZEMjUtNDM4QS04NEEyLUEyQTYw
	RDNFQTQzQ4aShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQwRkJE
	QjNGMi0yMUYyLTQ4MUYtODI1MS01RDVGMjM1ODA4M0SGhoaShJeYJDcyRTNDRTU0LTMy
	MEUtNDYzQy04NDg4LThCMTUwRkQyRTFERYaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFz
	c2V0IFVVSUSGkoSemCQzQjhDN0Q0Qy1BMzE5LTQ0QkUtODdEMy1BREU5QkZCM0Y3NUOG
	hoaShJeYJEMzNkYzMzZELTJGNzgtNEM2QS1BMjlBLTA2OUZCNzc4RTBBRYaShJmShJOW
	AZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQyRjgzOEJENC05NjBFLTRDNjYt
	Qjc3Ny1GMTk3ODIyNDMwODWGhoaShJeYJDI0NTBGRTcwLTcwQTQtNEE1Ni1BNjU2LUQx
	NkE0MUI0NkU2NYaShJmShJOWAZKEl5gUSWRlYXNwYWNlIEFzc2V0IFVVSUSGkoSemCQw
	MEM3NjlGNC02ODVCLTQ3QkUtODQyMS1BQzFEN0VERDc1MUSGhoaShJeYJEFBMjA4NUM2
	LUNBMjEtNEU3RS1BQTRELTMzNzQ2REVFMDE0RoaShJmShJOWApKEl5gFVGl0bGWGkoSX
	mBoyLjE1LiBPdmVycmlkaW5nINC4IHRocm93c4aShJeYFElkZWFzcGFjZSBBc3NldCBV
	VUlEhpKEnpgkMzM4RDVCNDQtNDZFQS00MUZCLThBQjctQTk3MDhCRTY1OTk5hoaGkoSX
	mCRDNThGNzJCNC0zQkJDLTQ0RTEtOTMwOC01OEFGN0E5OUExMUOGkoSZkoSTlgGShJeY
	FElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNENDMEUwOTItQjgxMS00QUY3LUI3ODgt
	QzZCRUI0NUQ5NEZEhoaGkoSXmCRCQkVBNzM3Mi03N0VDLTRENDYtQkEzQS1DQ0FEN0ZE
	QzhFMUaGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkQzM1MTlG
	MzMtQkQ2Qi00RDY5LTg1MUUtMjk1MDlDQzZDMzdEhoaGkoSXmCRCOTYwMEMyRS0zMDAy
	LTQ0MUQtODE2NC03QTQwMzQzQkIzNTiGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3Nl
	dCBVVUlEhpKEnpgkMzFFQjlGODgtQjhGNy00RkZBLUFEOEUtRjg0RkIwNDk3RDdEhoaG
	koSXmCQ2RTBEODkwQy03MjVFLTRBMUEtOTQ5QS0zQkI5MzkwN0Y4QUSGkoSZkoSTlgGS
	hJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkNjBBM0Q5NTctNTgyMy00Q0I3LTky
	MTItQUQxNDY3MDEyMzY1hoaGkoSXmCQ2QjU4RjcyNi1CQjIzLTQ0RjEtQUI5OS01NjY3
	MUMzN0RERDiGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkMDBD
	NzY5RjQtNjg1Qi00N0JFLTg0MjEtQUMxRDdFREQ3NTFEhoaGkoSXmCREOUVFODVBQi02
	NEFELTRDRUMtQUQ5OC1CMEUxMzJDODlBN0SGkoSZkoSTlgGShJeYFElkZWFzcGFjZSBB
	c3NldCBVVUlEhpKEnpgkNEM0NjhEQTktNjg0OS00REY3LUE3MTQtRUNDMTU5NjAxRkZD
	hoaGkoSXmCQ3RjhENjg0MC1DQzk3LTRBOTctOTdGRS02MzU1OTI5Q0RBNESGkoSZkoST
	lgKShJeYFElkZWFzcGFjZSBBc3NldCBVVUlEhpKEnpgkM0NGOTkyM0EtNzQwRC00M0VG
	LTg3NDYtMEQwRTJDM0QwQjdDhpKEl5gLRmlndXJlIFVVSUSGkoSemCQ5RThFNkVERi0z
	MEExLTRFQUItQTNEMS04MDZDRjAyQzhDNjmGhoaG
	</data>
	<key>LastModified</key>
	<date>2018-06-14T07:55:07Z</date>
	<key>OrganizerPreviewSizeHint</key>
	<integer>0</integer>
</dict>
</plist>
